$base-color: RGBA(200, 200, 255);
$fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


// adaptable gradient
@mixin nav_gradient($color, $angle){
    // background: linear-gradient(90deg, RGB(130, 130, 220) 0%, 
    //             RGB(160,160,250) 50%, RGB(200,200,255) 100%);
    background: linear-gradient($angle, $color 0%, $color 50%, $color 100%);
}

@mixin featured() {
    margin: 0px;
    display: flex;
    width: 560px;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;  
    flex-wrap: nowrap;
}

@mixin feature_item() {
    
    scroll-snap-align: start;
    height: 256px;
    min-width: 256px;
    margin: 0px;
    background: white; 

}