@use 'generic';
@use 'navbar';



.shop-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;

}

.shop-item {
    justify-content: center;

    margin: 10px;
    width: 256px;
    height: 256px;
    background: no-repeat;
}

@media all and (width > 1120px) {
    .shop-container > * {

        /* how do */
        margin: 0vw 2vw;
    }
    
}

#item-1 {
    background-image: url("../img/galin_token.png");

}

#item-2 {
    background-image: url("../img/visitor_token.png");

}

#item-3 {
    background-image: url("../img/Alina_token.png");
  
}

#item-4 {
    background-image: url("../img/stitch_token.png");
 
}

#item-5 {
    background-image: url("../img/stitch_token.png"); 
}

#item-6 {
    background-image: url("../img/stitch_token.png");
}

#item-7 {
    background-image: url("../img/stitch_token.png");
}

#item-8 {
    background-image: url("../img/stitch_token.png");
}